<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-black">
  <a class="navbar-brand text-white" href="/">SRD</a>
  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="raleway justify-content-end collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav h4">
      <li class="nav-item mr-3">
        <a class="nav-link text-white" href="/actor/">Actor</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link text-white" href="/developer/">Developer</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link text-white" href="/educator/">Educator</a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item mr-3">
        <a class="nav-link text-white" href="/archive/">Post Archive</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link text-white" href="/contact/">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-white container-fluid">
	<h1 class="text-uppercase text-center mb-4">{{pageTitle}}</h1>
</div>
