<!DOCTYPE html>
<html>
<head>
	{{> head}}
</head>
<body>
	{{> nav}}
	
	<div id="page-contents">
		
	</div>	

	{{> bootstrapScripts}}
	<script type="text/javascript" src="/archive/posts.js"></script>
	<script type="text/javascript" src="/archive/display.js"></script>
</body>
</html>