<!DOCTYPE html>
<html>
<head>
	{{> head}}
	<link rel="stylesheet" type="text/css" href="/contact/style-contact.css">
</head>
<body>
	{{> nav}}
	
	<div id="page-contents">
		<div class="post">
			<div class="post-img">
				<img src="/static/rawpixel-com-584292-unsplash.jpg">
				<p>Photo by rawpixel.com on Unsplash</p>
			</div>
			<p>For all professional inquiries, please email me at <a href="mailto:shawndoyl@gmail.com">shawndoyl@gmail.com</a>.  I will try to respond as soon as possible.  Or check out my selected social media here.</p>
			<div id="social-media-links">
				<a href="#"><img src="/static/linkedin-logo.png"></a>
				<a href="https://github.com/shawndoyle"><img src="/static/github-logo.jpg"></a>
				<a href="#"><img src="/static/casting-workbook-logo.jpg"></a>
			</div>`
		</div>
	</div>


	{{> bootstrapScripts}}
</body>
</html>