<!DOCTYPE html>
<html>
<head>
	{{> head}}
	<link rel="stylesheet" type="text/css" href="/developer/style-developer.css">
</head>
<body>
	{{> nav}}
	
	<div id="page-contents">
		<div class="post">
			<div id="skillBox">
				<img src="/static/html5.png" alt="HTML5" >
				<img src="/static/css3.png" alt="CSS3">
				<img src="/static/javascript.png" alt="Javascript (ES6+)">
				<img src="/static/bootstrap.png" alt="Bootstrap 4">
				<img src="/static/react.png" alt="React">
				<img src="/static/node.png" alt="Node.js">
				<img src="/static/express.png" alt="Express.js">
				<img src="/static/postgreSQL.png" alt="PostgreSQL">				
			</div>
			<p id="skillDisplay" class="text-center h4">And More!</p>
			<br><br>
			<h2></h2>
			<p>I am a self-taught computer programmer and full stack web developer.  This website was designed, developed, and is hosted by me.  Among my skills include HTML5, CSS3, Javascript (ES6+), DOM Manipulation, React, Bootstrap 4, Node.js, Express.js, PostgreSQL and more.  I am constantly trying to learn new skills, and try to stay current with the rapidly changing developer landscape.<br><br>
			To see some of my projects, see the list below, or check out my <a href="https://github.com/shawndoyle">Github</a>.</p>
			<h2>Project List</h2>
			<a href="/smartBrain/">Smart Brain Face Recognition App</a><br>
			<a href="#"></a><br>
			<p>Check back here for more...</p>
		</div>
	</div>

	{{> bootstrapScripts}}
	<script type="text/javascript" src="/developer/skillBox.js"></script>
</body>
</html>