<!DOCTYPE html>
<html>
<head>
	{{> head}}
	<link rel="stylesheet" type="text/css" href="/actor/gallery/style-gallery.css">
</head>
<body>
	{{> nav}}
	
		<div id="page-contents">
		<div class="gallery">
			<h2>Headshots</h2>
			<div class="gallery-img headshots">
				<img src="/static/headshot (2).jpg">
				<img src="/static/headshot (1).jpg">
				<img src="/static/headshot (3).jpg">
			</div>
			<h2>Production Photos</h2>
			<div class="gallery-img prod-photos">
				<div class="img-wrap">
					<img src="/static/gal05.jpg">
					<span>George Tesman in <em>Hedda Gabler</em></span>
				</div>
				<div class="img-wrap">
					<img src="/static/gal06.JPG">
					<span>Lysimachus in <em>Pericles, Prince of Tyre</em></span>
				</div>
				<div class="img-wrap">
					<img src="/static/gal01.JPG">
					<span>Pierre Trudeau in <em>How to Make Love in a Canoe</em></span>
				</div>
				<div class="img-wrap">
					<img src="/static/gal02.jpg">
					<span>Seymour in <em>Little Shop of Horrors</em></span>
				</div>
				<div class="img-wrap">
					<img src="/static/gal03.jpg">
					<span>Alan in an adaptation of <em>Equus</em></span>
				</div>
				<div class="img-wrap">
					<img src="/static/gal04.JPG">
					<span>Lavrenti Vachnadze in <em>The Caucasian Chalk Circle</em></span>
				</div>
			</div>
		</div>
	</div>

	{{> bootstrapScripts}}
</body>
</html>